  body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(mmu.JPG);
  color: grey;
}
  header {
  background-color: green;
  padding: 30px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: brown;
  font-family: 'Playfair Display', serif;
}

header p {
  margin: 5px 0 0;
  font-size: 1.2em;
  color: blue;
  font-family: 'Playfair Display', serif;
}
main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 75%;
  object-fit: cover;
  margin-right: 30px;
}

.profile-info h2 {
  margin-top: 0;
  font-size: 2em;
  color: green;
}

.profile-info p {
  margin: 8px 0;
  }
  
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  flex: 1 1 45%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  min-width: 250px;
}

.card h3 {
  margin-top: 0;
  color: green;
}

.card p {
  margin: 10px 0 0;
}

        /* Footer */
footer {
  background-color: darkgrey;
  text-align: center;
  line-break: 1px;
  padding: 15px 0;
  margin-top: 5px;
}
footer h3{
  color: green;
  margin: 0;
}

footer p{
  color: lightblue;
  margin: 0;
  text-align: left;
  
}

footer a {
  color: blue;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  }

        /* Responsive */
@media(max-width: 768px){
.profile {
  flex-direction: column;
  text-align: center;
  }
.profile img {
  margin: 0 0 20px 0;
}
.cards {
  flex-direction: column;
}
}

.back-to-top{
  position: fixed;
  bottom: 45px;
  right: 20px;
  background-color: lightgreen;
  color: grey;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  transition: background 0.3s;
}
.back-to-top a{
  text-decoration: none;
}
.back-to-top:hover {
  background-color: green;
  text-decoration-color: red;
}
